*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
}
header {
    background-color: #273037; 
    padding: 1rem 0;
}
/*NAV*/
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
}
.logo {
    height: 50px; 
    padding-left: 25px;
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.menu {
    list-style: none; 
    padding-right: 200px;
    margin: 0;
    display: flex; 
    gap: 2.5rem; 
}
/* Mostrar menú cuando tenga la clase 'active' */
.menu.active {
    display: flex;
}
/* Botón de hamburguesa */
.hamburger {
    display: none; /* Oculto por defecto */
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    font-size: 1.8rem; 
    margin-right: 15px; 
}
.menu li {
    display: inline-block;
    position: relative; 
}
.menu a li {
    text-decoration: none; 
    color: #ffffff; 
    font-family: "Afacad Flux", serif;
    font-size: 1.2rem; 
    font-weight:500; 
    padding: 0.5rem 1rem; 
    display: inline-block;
    transition: color 0.3s ease;
}
.menu li a:hover {
    color: #f0c26c; 
}
.menu li::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; 
    padding: 2px; 
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    background-size: 300%; 
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    transition: opacity 0.3s ease, background-position 0.5s ease; 
    background-position: 0% 50%; 
    opacity: 0;
}
.menu li:hover::before {
    opacity: 1; 
    background-position: 100% 50%; 
}
.contact-button { 
    text-decoration: none; 
    color: #ffffff; 
    font-family: "Afacad Flux", serif;
    font-size: 1.2rem; 
    font-weight:500; 
    padding: 0.5rem 1rem; 
    transition: color 0.3s ease;
    background-color: #f0c26c; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
} 
.contact-button:hover { 
    background-color: #d4af37; 
}
/*DEBAJO DEL NAV*/
.imagen-blanca-con-lineas {
    position: relative;
    text-align: center; 
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.imagen-blanca-con-lineas img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #1b2934; 
    width: 80%;
    max-width: 1100px;
    line-height: 2;
}
.text-overlay h2 {
    font-family: "Afacad Flux", serif;
    font-weight: 200;
    font-size: 3rem; 
    margin-bottom: 0.5rem 0;
}
.text-overlay p {
    font-family: "Afacad Flux", serif;
    font-weight: 300;   
    font-size: 1.4rem; 
    margin-top: 0.5rem 0;
    text-align: justify;
}
/*NUESTRO COMPROMISO*/
.seccionblanca {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
    margin-top: -30px;
}
.compromiso-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.compromiso-img {
    width: 430px; 
    height: auto;
    margin-right: 20px;
    border-radius: 30px; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.compromiso-container .texto1 {
    max-width: 100%;
    box-sizing: border-box;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;  
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: justify;
    padding-left: 20px; 
}
.texto1 h2 {
    font-family: "Afacad Flux", serif;
    font-weight: 200;  
    margin-bottom: 1.5rem; 
    text-align: left;
}
/*NUESTRA MISION*/
.seccionblanca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
}
.mision-estrategia-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    width: 100%; 
    box-sizing: border-box; 
}
.mision-img {
    width: 450px;
    max-width: 100%;
    box-sizing: border-box; 
    height: auto;
    margin-left: 20px;
    border-radius: 30px; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37);
    background-origin: border-box;
    background-clip: content-box, border-box; }
.textmision {
    max-width: 100%;
    box-sizing: border-box;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;  
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: justify;
    padding-right: 20px; 
}
.textocompromiso h2,
.textmision h2 {
    font-family: "Afacad Flux", serif;
    font-weight: 200;  
    margin-bottom: 1.2rem; 
    text-align: right; 
}
/*EXCELENCIA Y ATENCION*/
.seccionblanca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
}
.estrategia-mezquita {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
#mezquita-img-unique {
    width: 400px; 
    height: auto ;
    margin-right: 40px ;
    border-radius: 30px ; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37);
    background-origin: border-box;
    background-clip: content-box, border-box;    
}
.texto-mezquita {
    max-width: 100%;
    box-sizing: border-box;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;  
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: justify;
    padding-left: 20px; 
}
.texto-mezquita h2 {
    margin-bottom: 1.5rem; 
    font-weight: 250;  
}
.texto-mezquita p {
    margin-bottom: 1.5rem;
}
/*EXCELENCIA Y ATENCION fondo blanco */
.servicios-section {
    background-image: url('/inicio/images/FONDO\ WEB\ -THORNE\ GLOBAL.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.servicios-container {
    font-family: "Afacad Flux", serif;
    font-weight: 200;   
    font-size: 1rem; 
    margin-top: 0.5rem;
    text-align: justify;
    padding: 20px;
    max-width: 900px;
}
.servicios-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 250; 
    text-align: center;
}
.servicios-container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 15px;
}
/*VANINA*/
.ceo-section {
    background-color: #ffffff;
    margin-top: -110px;
}
.ceo-vanina {
    display: flex;
    align-items: center;
    
    max-width: 1200px;
    margin: 60px auto;
    padding: 60px;
}
.titulo-ceo {
    font-family: "Afacad Flux", serif;
    font-size: 2rem;
    color: #273037;
    position: absolute;
    font-weight: 300; 
    left: 350px;
    margin-top: 65px;
}
.Vanina {
    margin-left: 80px;
    padding: 40px;
    color: #273037;
    border: 2px solid gold;
    border-right: none;
    border-radius: 30px;
}
.Vanina p {
    font-family: "Afacad Flux", serif;
    text-align: justify;
    color: #273037;
    font-size: 1.2rem;
    line-height: 1.8;
}
.texto-vanina p {
    display: flex;
    justify-content: center; 
    align-items: center;    
    max-width: 70%;
    padding: 10px;
    margin-left: 250px;
    margin-top: -30px;
    color: #273037;
    font-family: "Afacad Flux", serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    line-height: 1.8;
}
.ceo-img {
    max-width: 250px;
    height: auto;
    border: 2px solid #273037;
    border-radius: 10px;
    margin-right: 70px;
}
/*MAPA*/
.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff; 
    padding: 20px;
}
.ubicacion h2 {
    font-family: "Afacad Flux", serif;
    font-size: 28px;
    color: #1d2731; 
}
.ubicacion p {
    font-family: "Afacad Flux", serif;
    font-size: 24px;
    margin: 5px 0;
    color: #1d2731; 
}
.map-img {
    border-radius: 0 20px 20px 0;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(45deg, #ffc919, #f5e65d,#726128, #ffc919, #f5e65d, #fcc102);
    background-origin: border-box;
    background-clip: content-box, border-box;    
    width: 600px;
    height: 200px; 
}
.contacto {
    color: #ffffff;
    font-family: "Afacad Flux", serif;
    font-size: 14px;
    line-height: 1.6;
}
.contacto i {
    margin-right: 8px; 
}
.info-container {
    background-color: #1d2731; 
    color: #ffffff; 
    padding: 20px;
    border-radius: 35px; 
    width: 300px;
    margin-right: -25px; 
    z-index: 1;
}
.info-container h2 {
    color: #ffffff; 
    font-size: 20px;
    margin-bottom: 10px;
}
.info-container p {
    color: #ffffff; 
    font-size: 14px;
    margin-bottom: 20px;
}
.info-container ul {
    list-style: none;
    padding: 0;
}
.info-container li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.info-container i {
    margin-right: 10px;
    font-size: 18px; /* Ajusta según tus iconos */
}
/*PARA CONTACTARSE*/
.contacto {
    background-image: url(/inicio/images/FONDO\ WEB\ -THORNE\ GLOBAL.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    color: #273037;
    padding: 20px;
}
.text-contacto{
    max-width: 70%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.contacto h2 {
    font-family: "Afacad Flux", serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}
.contacto p {
    font-family: "Afacad Flux", serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 10px 0;
    text-align: justify;
}
.contact-button {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    text-decoration: none; 
    border: none;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-size: 1.2rem; 
    transition: color 0.3s ease;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    }
.contact-button:hover {
    color: #f0c26c; 
    }
.contact-button::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px; 
    padding: 2px; 
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    background-size: 300%; 
    mask: linear-gradient(#d4af37 0 0) content-box, linear-gradient(#f0e68c 0 0); 
    -webkit-mask: linear-gradient(#d4af37 0 0) content-box, linear-gradient(#f0e68c 0 0); 
    mask-composite: exclude;
    transition: opacity 0.3s ease, background-position 0.5s ease; 
    background-position: 0% 50%; 
    opacity: 0;
    }
.contact-button:hover::before {
    opacity: 1; 
    background-position: 100% 50%; 
}
/*FOOTER*/
footer {
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.footer-container {
    background: white url('path-to-your-background-image.jpg') no-repeat center center fixed; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin-top: 30px;
    padding: 20px;
    color: #273037;
    margin-top: -40px;
}
.footer-logo { 
    display: inline-block; 
    margin: 0 50px;
} 
.footer-logo img { 
    width: 250px; 
    height: auto; 
    display: block;
    margin-top: 20px; 
    margin: 0 20px; 
}
.footer-column {
    flex: 1;
    padding: 10px;
}
.footer-column h3 {
    font-family: "Afacad Flux", serif;
    color: #273037;
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #273037;
    text-decoration: none;
}
.footer-column ul li a:hover {
    color: #d4af37;
}
.footer-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: #ccc;
    border-top: 1px solid #444;
}
.footer-bottom .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}
.footer-bottom .footer-logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}
.footer-bottom .footer-logo p {
    margin: 5px 0;
    font-size: 1.2em;
}
.footer-bottom .footer-logo span {
    font-size: 0.9em;
    color: #999;
}
.footer-bottom p { 
    margin-left: auto;
}
@media (min-width: 1200px) and (max-width: 834px){
    nav {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
    }
    .menu {
        flex-direction: column;
        display: none;
        gap: 1rem;
        padding: 0;
        align-items: center; 
    }
    .hamburger {
        display: inline-block;
        position: relative;
    }
    nav {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }
    .container-header {
        padding: 0 20px;
    }
    .logo {
        height: 50px;
    }
    .imagen-blanca-con-lineas,
    .seccionblanca {
        flex-direction: column; 
        padding: 15px; 
        text-align: justify;
    }
    .compromiso-img,
    .mision-img,
    #mezquita-img-unique {
        width: 350px; 
        height: 350px; 
        margin: 0 auto 15px; 
    }
    .text-overlay,
    .texto1,
    .textmision,
    .texto-mezquita {
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.6; 
        padding: 0 10px; 
    }
    .text-overlay h2,
    .texto1 h2,
    .textmision h2,
    .texto-mezquita h2 {
        font-size: 1.8rem; 
        text-align: center;
        margin-bottom: 10px;
    }
    .text-overlay p,
    .texto1 p,
    .textmision p,
    .texto-mezquita p {
        font-size: 0.9rem; 
    }
    .compromiso-container,
    .mision-estrategia-container,
    .estrategia-mezquita {
        flex-direction: column; 
        align-items: center;
    }
    .compromiso-container .texto1,
    .mision-estrategia-container .textmision,
    .estrategia-mezquita .texto-mezquita {
        margin: 0;
        padding: 10px 0;
    }
    .ceo-section {
        margin-top: -50px; 
        padding: 15px; 
    }
    .ceo-vanina {
        flex-direction: column;
        max-width: 90%; 
        margin: 20px auto; 
        padding: 20px; 
    }
    .titulo-ceo {
        font-size: 1.5rem; 
        font-weight: 300; 
        left: 0; 
        text-align: center; 
        position: static; 
        margin: 10px 0; 
    }
    .Vanina {
        margin: 10px auto; 
        padding: 15px; 
        font-size: 1rem; 
        border-width: 1px; 
    }
    .Vanina p {
        font-size: 0.9rem; 
        line-height: 1.5; 
    }
    .texto-vanina p {
        max-width: 100%; 
        margin: 10px auto; 
        padding: 10px; 
        font-size: 0.9rem; 
        text-align: justify; 
    }
    .ceo-img {
        max-width: 150px;
        margin: 20px auto; 
        display: block;
    }
}
@media (min-width: 320px) and (max-width: 834px){
    nav {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
    }
    .menu {
        flex-direction: column;
        display: none;
        gap: 1rem;
        padding: 0;
        align-items: center; 
    }
    .hamburger {
        display: inline-block;
        position: relative;
    }
    nav {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }
    .container-header {
        padding: 0 20px;
    }
    .logo {
        height: 50px;
    }
    .imagen-blanca-con-lineas,
    .seccionblanca {
        flex-direction: column; 
        padding: 15px; 
        text-align: justify;
    }
    .compromiso-img {
        margin-top: 85px;
    }
    .mision-img,
    #mezquita-img-unique {
        width: 350px; 
        height: 350px; 
        margin: 0 auto 15px; 
    }
    .text-overlay {
        margin-top: 85px;
    }
    .texto1,
    .textmision,
    .texto-mezquita {
        width: 100%; 
        font-size: 1rem; 
        line-height: 1.6; 
        padding: 0 10px; 
    }
    .text-overlay h2 {
        margin-bottom: 15px;
    }
    .text-overlay h2,
    .texto1 h2,
    .textmision h2,
    .texto-mezquita h2 {
        font-size: 1.8rem; 
        text-align: center;
        margin-bottom: 10px;
    }
    .text-overlay p,
    .texto1 p,
    .textmision p,
    .texto-mezquita p {
        font-size: 0.9rem; 
    }
    .compromiso-container,
    .mision-estrategia-container,
    .estrategia-mezquita {
        flex-direction: column; 
        align-items: center;
    }
    .compromiso-container .texto1,
    .mision-estrategia-container .textmision,
    .estrategia-mezquita .texto-mezquita {
        margin: 0;
        padding: 10px 0;
    }
    .ceo-section {
        margin-top: -50px; 
        padding: 15px; 
    }
    .ceo-vanina {
        flex-direction: column;
        max-width: 90%; 
        margin: 20px auto; 
        padding: 20px; 
    }
    .titulo-ceo {
        font-size: 1.5rem; 
        font-weight: 300; 
        left: 0; 
        text-align: center; 
        position: static; 
        margin: 10px 0; 
    }
    .Vanina {
        margin: 10px auto; 
        padding: 15px; 
        font-size: 1rem; 
        border-width: 1px; 
    }
    .Vanina p {
        font-size: 0.9rem; 
        line-height: 1.5; 
    }
    .texto-vanina p {
        max-width: 100%; 
        margin: 10px auto; 
        padding: 10px; 
        font-size: 0.9rem; 
        text-align: justify; 
    }
    .ceo-img {
        max-width: 150px;
        margin: 20px auto; 
        display: block;
    }
    .ubicacion {
        flex-direction: column; 
        gap: 10px;
        padding: 15px;
        text-align: center; 
    }
    .ubicacion h2 {
        font-size: 1.8rem; 
    }
    .ubicacion p {
        font-size: 1.2rem; 
    }
    .map-img {
        width: 90%; 
        height: auto; 
        border-radius: 20px; 
        margin: 0 auto; 
    }
    .info-container {
        width: 90%; 
        margin: 0 auto 20px; 
        padding: 15px;
        border-radius: 20px;
    }
    .info-container h2 {
        font-size: 1.5rem; 
        margin-bottom: 10px;
    }
    .info-container p, .info-container li {
        font-size: 1rem; 
    }
    .info-container i {
        font-size: 1.2rem; 
    }
    .contacto {
        padding: 15px; 
        text-align: center; 
    }
    .text-contacto {
        max-width: 90%; 
        padding: 10px; 
        text-align: justify;
    }
    .contacto h2 {
        font-size: 2rem; 
        text-align: center;
    }
    .contacto p {
        font-size: 1.2rem; 
        line-height: 1.4; 
    }
    .contact-button {
        font-size: 1rem; 
        padding: 8px 15px; 
        margin: 10px auto; 
    }
    .contact-button::before {
        border-radius: 20px; 
    }
}

