*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #1d2731; 
}
header {
    padding: 1rem 0;
}
/*NAV*/
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
}
.logo {
    height: 50px; 
    padding-left: 25px;
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.menu {
    list-style: none; 
    padding-right: 200px;
    margin: 0;
    display: flex; 
    gap: 2.5rem; 
}
.menu li {
    display: inline-block;
    position: relative; 
}
.menu a li {
    text-decoration: none; 
    color: #ffffff; 
    font-family: "Afacad Flux", serif;
    font-size: 1.2rem; 
    font-weight:500; 
    padding: 0.5rem 1rem; 
    display: inline-block;
    transition: color 0.3s ease;
}
.menu li a:hover {
    color: #f0c26c; 
}
.menu li::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px; 
    padding: 2px; 
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    background-size: 300%; 
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    transition: opacity 0.3s ease, background-position 0.5s ease; 
    background-position: 0% 50%; 
    opacity: 0;
}
.menu li:hover::before {
    opacity: 1; 
    background-position: 100% 50%; 
}
/*DEBAJO DEL NAV*/
.imagen-blanca-con-lineas {
    position: relative;
    text-align: center; 
}
.imagen-blanca-con-lineas img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #1b2934; 
    width: 80%;
    max-width: 1200px;
    line-height: 2;
}
.text-overlay h2 {
    font-family: "Afacad Flux", serif;
    font-weight: 200;
    font-size: 4rem; 
    margin-bottom: 0.5rem;
}
.text-overlay p {
    font-family: "Afacad Flux", serif;
    font-weight: 300;   
    font-size: 1.4rem; 
    margin-top: 0.5rem;
    text-align: justify;
}
/*NUESTRO COMPROMISO*/
.seccionblanca {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
}
.compromiso-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.compromiso-img {
    width: 430px; 
    height: auto;
    margin-right: 20px;
    border-radius: 30px; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(45deg, #ffc919, #f5e65d,#726128, #ffc919, #f5e65d, #fcc102);
    background-origin: border-box;
    background-clip: content-box, border-box; }
.compromiso-container .textocompromiso {
    max-width: 60%;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;    
    margin-top: 0.5rem;
    text-align: justify;
    padding-left: 20px; 
}
.textocompromiso h2 {
    margin-bottom: 1.5rem; 
    text-align: right; 
}
/*NUESTRA MISION*/
.seccionblanca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
}
.mision-estrategia-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    width: 100%; 
    box-sizing: border-box; 
}
.mision-img {
    width: 450px; 
    height: auto;
    margin-left: 20px;
    border-radius: 30px; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(45deg, #ffc919, #f5e65d,#726128, #ffc919, #f5e65d, #fcc102);
    background-origin: border-box;
    background-clip: content-box, border-box; }
.textmision {
    max-width: 60%;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;   
    font-size: 1.4rem; 
    margin-top: 0.5rem;
    text-align: justify;
}
.textocompromiso h2,
.textmision h2 {
    font-weight: 250; 
    text-align: right;
    margin-bottom: 1rem;
}
.textocompromiso,
.textmision {
    padding-left: 20px;
    padding-right: 20px; 
}
.textocompromiso p,
.textmision p {
    margin-bottom: 1.5rem; 
}
/*EXCELENCIA Y ATENCION*/
.seccionblanca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px; 
    background-color: #f7f7f7; 
}
.estrategia-mezquita {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
#mezquita-img-unique {
    width: 400px; 
    height: auto ;
    margin-right: 40px ;
    border-radius: 30px ; 
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(45deg, #ffc919, #f5e65d,#726128, #ffc919, #f5e65d, #fcc102);
    background-origin: border-box;
    background-clip: content-box, border-box;    
}
.texto-mezquita {
    max-width: 60%;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-weight: 200;   
    font-size: 1.4rem; 
    margin-top: 0.5rem;
    text-align: justify;
    padding-left: 20px; 
}
.texto-mezquita h2 {
    margin-bottom: 1.5rem; 
    font-weight: 250;  
}
.texto-mezquita p {
    margin-bottom: 1.5rem;
}
/*EXCELENCIA Y ATENCION fondo blanco */
.servicios-section {
    background-image: url('/inicio/images/FONDO\ WEB\ -THORNE\ GLOBAL.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.servicios-container {
    font-family: "Afacad Flux", serif;
    font-weight: 200;   
    font-size: 1rem; 
    margin-top: 0.5rem;
    text-align: justify;
    padding: 20px;
    max-width: 900px;
}
.servicios-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 250; 
    text-align: center;
}
.servicios-container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 15px;
}
/*VANINA*/
.ceo-section {
    background-color: #ffffff;
}
.ceo-vanina {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 60px auto;
    padding: 60px;
}
.titulo-ceo {
    font-family: "Afacad Flux", serif;
    font-size: 2rem;
    color: #273037;
    position: absolute;
    font-weight: 300; 
    left: 250px;
    margin-top: 50px;
}
.Vanina {
    padding: 40px;
    color: #273037;
    border: 2px solid gold;
    border-right: none;
    border-radius: 30px;
}
.Vanina p {
    font-family: "Afacad Flux", serif;
    text-align: justify;
    color: #273037;
    font-size: 1.2rem;
    line-height: 1.8;
}
.texto-vanina p {
    display: flex;
    justify-content: center; 
    align-items: center;    
    max-width: 70%;
    padding: 10px;
    margin-left: 250px;
    color: #273037;
    font-family: "Afacad Flux", serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    line-height: 1.8;
}
.ceo-img {
    max-width: 250px;
    height: auto;
    border: 2px solid #273037;
    border-radius: 10px;
    margin-right: 70px;
}
/*MAPA*/
.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff; 
    padding: 20px;
}
.ubicacion h2 {
    font-family: "Afacad Flux", serif;
    font-size: 28px;
    color: #1d2731; 
}
.ubicacion p {
    font-family: "Afacad Flux", serif;
    font-size: 24px;
    margin: 5px 0;
    color: #1d2731; 
}
.map-img {
    border-radius: 0 20px 20px 0;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(45deg, #ffc919, #f5e65d,#726128, #ffc919, #f5e65d, #fcc102);
    background-origin: border-box;
    background-clip: content-box, border-box;    
    width: 800px;
    height: 200px; 
}
.contacto {
    color: #ffffff;
    font-family: "Afacad Flux", serif;
    font-size: 14px;
    line-height: 1.6;
}
.contacto i {
    margin-right: 8px; 
}
.info-container {
    background-color: #1d2731; 
    color: #ffffff; 
    padding: 20px;
    border-radius: 35px; 
    width: 300px;
    margin-right: -25px; 
    z-index: 1;
}
.info-container h2 {
    color: #ffffff; 
    font-size: 20px;
    margin-bottom: 10px;
}
.info-container p {
    color: #ffffff; 
    font-size: 14px;
    margin-bottom: 20px;
}
.info-container ul {
    list-style: none;
    padding: 0;
}
.info-container li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.info-container i {
    margin-right: 10px;
    font-size: 18px; /* Ajusta según tus iconos */
}
/*PARA CONTACTARSE*/
.contacto {
    background-image: url(/inicio/images/FONDO\ WEB\ -THORNE\ GLOBAL.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    color: #273037;
    padding: 20px;
}
.text-contacto{
    max-width: 70%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.contacto h2 {
    font-family: "Afacad Flux", serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}
.contacto p {
    font-family: "Afacad Flux", serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 10px 0;
    text-align: justify;
}
.contact-button {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    text-decoration: none; 
    border: none;
    color: #273037; 
    font-family: "Afacad Flux", serif;
    font-size: 1.2rem; 
    transition: color 0.3s ease;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    }
.contact-button:hover {
    color: #f0c26c; 
    }
.contact-button::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px; 
    padding: 2px; 
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    background-size: 300%; 
    mask: linear-gradient(#d4af37 0 0) content-box, linear-gradient(#f0e68c 0 0); 
    -webkit-mask: linear-gradient(#d4af37 0 0) content-box, linear-gradient(#f0e68c 0 0); 
    mask-composite: exclude;
    transition: opacity 0.3s ease, background-position 0.5s ease; 
    background-position: 0% 50%; 
    opacity: 0;
    }
.contact-button:hover::before {
    opacity: 1; 
    background-position: 100% 50%; 
}

/* Media Queries para Pantallas de Escritorio */
@media (min-width: 1024px) {
    .compromiso-section { padding: 60px 40px; }
    .textocompromiso h2 { font-size: 2rem;}
    .textocompromiso p { font-size: 1.4rem;}
}

/* Media Queries para Pantallas Notebooks */
@media (max-width: 1024px) and (min-width: 768px) {
    .compromiso-section { padding: 40px 20px;}
    .compromiso-img { width: 35%;}
    .textocompromiso h2 { font-size: 1.7rem;}
    .textocompromiso p { font-size: 1rem;}
}

/* Media Queries para Pantallas Móviles */
@media (max-width: 767px) {
    .compromiso-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;}
    .compromiso-img {width: 80%;}
    .textocompromiso {
        margin-left: 0;
        max-width: 100%;
        padding: 0 20px;}
    .textocompromiso h2 { font-size: 2rem; }
    .textocompromiso p {
        font-size: 1.4rem;
        margin: 0;}
}
